body {
  font-family: Arial, Helvetica, sans-serif;
 }

 code {
    color: red;
    font-weight: 700;
  }

  .citrusStylesSE-grid--demo .citrusStylesSE-grid{
    border: 2px solid #ff69b4;
  }

.citrusStylesSE-grid--demo .citrusStylesSE-grid__cell {
  background-color: #b2f5b5;
  border: 2px solid #00bfff;
}

.hljs-string{
  color: #032f62;
  font-weight: normal;
}

/* Alignments */
.citrusStylesSE-fixed-height-demo{
  border: 1px solid #eee;
  height: 500px;
  overflow: hidden;
  position: relative;
}

/* Code font color */
code[class*=language-], pre[class*=language-]{
  font-weight: normal;
}