body {
  font-family: Arial, Helvetica, sans-serif;
 }

 code {
    color: red;
    font-weight: 700;
  }

  .citrusStylesSE__grid--demo.citrusStylesSE__grid{
    border: 2px solid #ff69b4;
  }

  .citrusStylesSE__grid--demo .citrusStylesSE__grid__cell {
    background-color: #b2f5b5;
    border: 2px solid #00bfff;
}