* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

.citrus-custom-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: block !important;
  position: relative;
}

p {
  color: #001952;
  font-size: 16px;
  font-family: PetcoCircularTT-Regular, arial !important;
  font-weight: 400;
  line-height: 1.4;
}

.citrus-explore-food-area {
  display: block;
  padding-top: 40px;
  padding-bottom: 56px;
  background: #fff;
}

.citrus-explore-food-section-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
  overflow-x: auto;
}

.citrus-explore-food-single-item img {
  width: 100%;
  height: auto;
  max-width: 150px;
  pointer-events: none;
}

.citrus-explore-food-single-item {
  text-align: center;
  margin: 0;
  padding: 40px;
  flex: 0 0 30%;
}

.citrus-explore-food-single-item h1 {
  color: #011952;
  font-size: 18px;
  font-family: PetcoCircularTT-Bold, arial !important;
  font-weight: 600;
  padding: 5px;
  margin: 10px 0;
}

.citrus-explore-food-single-item p {
  color: #000;
  font-size: 16px;
  padding: 10px;
  line-height: 1.4;
}

.citrus-explore-food-single-item a {
  margin: 20px 0 10px 0;
  color: #001952;
  font-size: 16px;
  display: block;
  font-family: PetcoCircularTT-Bold, arial !important;
  text-decoration: underline;
}

.citrus-cursor {
  cursor: pointer;
}
@media all and (max-width: 1440px) {
  .citrus-custom-container {
    max-width: 90%;
  }

  .citrus_pov_content {
    left: 20% !important;
    font-size: 30px !important;
    width: 40% !important;
    padding: 5px !important;
  }

  .citrus_pov_content h1 {
    font-size: 25px !important;
  }

  .citrus_pov_content p {
    font-size: 18px !important;
    margin: 5px 0 !important;
    line-height: initial;
  }
}

@media all and (max-width: 1024px) {
  .citrus_cta_btn {
    margin: 0 !important;
  }

  .citrus_pov_content {
    left: 20% !important;
    width: 40% !important;
    padding: 5px !important;
  }

  .citrus_pov_content h1 {
    font-size: 20px !important;
  }

  .citrus_pov_content p {
    font-size: 14px !important;
    margin: 5px 0 !important;
  }

  .citrus-upgrade-video {
    -webkit-box-flex: 0;
    /* -ms-flex: 0 0 100%; */
    /* flex: 0 0 100%; */
    margin-top: 20px;
  }

  .citrus-upgrade-video > iframe {
    width: 65%;
  }
}

@media all and (max-width: 920px) {
  .citrus_cta_btn {
    margin: 0 !important;
  }

  .citrus_pov_content {
    left: 20% !important;
    top: 5% !important;
    width: 45% !important;
    padding: 5px !important;
  }

  .citrus_pov_content h1 {
    font-size: 18px !important;
  }

  .citrus_pov_content p {
    font-size: 14px !important;
    margin: 5px 0 !important;
  }

  .citrus-upgrade-video {
    margin-top: -60px;
  }
}

@media all and (max-width: 767px) {
  .citrus_cta_btn {
    margin: 0 !important;
  }

  .citrus_pov_content {
    left: 16% !important;
    top: 2% !important;
    width: 55% !important;
    padding: 5px !important;
  }

  .citrus_pov_content h1 {
    font-size: 16px !important;
  }

  .citrus_pov_content p {
    font-size: 12px !important;
    margin: 5px 0 !important;
  }

  .citrus-tab__content {
    padding-right: 0;
  }

  .citrus-upgrade-video > iframe {
    width: 100%;
    height: 300px !important;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .citrus-upgrade-video {
    margin: 0 15px;
  }
}

@media all and (max-width: 575px) {
  .citrus_cta_btn {
    background: 0 0 !important;
    color: #001952 !important;
    padding: 0 4px !important;
    text-decoration: underline !important;
    text-transform: capitalize !important;
    margin: 0 !important;
    display: content !important;
  }

  .citrus-explore-food-section-flex {
    flex-wrap: initial;
  }

  .citrus-explore-food-single-item {
    padding: 10px;
    flex: 0 0 100%;
  }

  .citrus-video-container {
    max-width: 100%;
  }

  .citrus-desktop-view {
    display: none;
  }

  .range-main-img > a > img {
    margin: 0 auto;
  }

  .range-main-single > p {
    width: 65%;
    margin: 0 auto;
  }

  .range-main-content-flex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media all and (max-width: 413px) {
  .range-main-single > p {
    width: 70%;
  }

  .transition-pet-list-item::after {
    left: 24px;
  }

  .citrus-upgrade-video > iframe {
    width: 100%;
  }
}

@media all and (max-width: 374px) {
  .transition-pet-list-item::after {
    left: 20px;
  }

  .range-main-single > p {
    width: 80%;
  }

  .transition-pet-list-item::after {
    height: 144%;
  }
}

[hidden] {
  display: none;
}

q:after,
q:before {
  content: "";
  content: none;
}

button {
  outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: PetcoCircularTT-Regular;
  src: url(assets/fonts/PetcoCircularTT-Regular.woff2) format("woff2"),
    url(../fonts/PetcoCircularTT-Regular.woff) format("woff");
}

@font-face {
  font-family: PetcoCircularTT-Bold;
  src: url(assets/fonts/PetcoCircularTT-Bold.woff2) format("woff2"),
    url(../fonts/PetcoCircularTT-Bold.woff) format("woff");
}

.citrus_cta_btn {
  font-family: PetcoCircularTT-Bold, arial !important;
  padding: 15px 70px;
  color: #fff;
  background-color: #001952;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  margin: 15px 0;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.citrus_bg_yellow {
  background-color: #fff6da;
}

.citrus_slide__content2 {
  left: 792px;
  top: 105px;
}

.citrus_slide__content3 {
  left: 808px;
  top: 54px;
}

.citrus_cta_btn2 {
  left: 42%;
  top: 50%;
  padding: 15px;
  width: 222px;
}

.citrus_cta_btn3 {
  left: unset;
  right: 93px;
  top: 230px;
  padding: 15px;
  width: 222px;
}

.citrus-slider-single-item > img {
  width: 100%;
  height: auto;
}

.citrus-banner-inner-right2 > img {
  width: 114px;
  height: 115px;
}

.citrus-slider-banner-content {
  position: absolute;
  top: 0;
  padding-top: 110px;
  height: 100%;
  padding-bottom: 115px;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  left: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.citrus-slider-single-item {
  position: relative;
}

.citrus-banner-inner-right {
  padding-left: 20px;
  margin-top: -10px;
}

.citrus-banner-inner-right > h2 {
  font-weight: 700;
  font-family: PetcoCircularTT-Bold, arial !important;
  font-size: 32px;
  color: #fff;
  display: block;
  line-height: 1;
}

.citrus-banner-inner-right > p {
  color: #fff;
  font-size: 16px;
  font-family: PetcoCircularTT-Regular, arial !important;
  font-weight: 400;
  width: 74%;
  line-height: 1.3;
  display: block;
  padding-bottom: 25px;
  padding-top: 5px;
}

.citrus-banner-btn > a {
  background: #fff;
  display: inline-block;
  color: #001952;
  padding: 17px 45px;
  font-family: PetcoCircularTT-Bold, arial !important;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
}

.citrus-banner-btn > a:hover {
  background: #001952;
  color: #fff;
}

.citrus-banner-inner-right.citrus-banner-inner-right2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.citrus-banner-inner-right > h2 > span {
  display: block;
}

.citrus-slider-single-item3 .citrus-slider-banner-content {
  padding-top: 40px;
}

.citrus-meet-orijen-tab-area {
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 26px;
}

.citrus-meet-orijen-tab-container {
  max-width: 1273px;
  width: 100%;
  margin: 0 auto;
}

.citrusfilterMeetDiv.citrusTabshow {
  display: block;
}

.citrusfilterMeetDiv {
  float: left;
  display: none;
}

.citrus_meet_tab_item span {
  display: block;
}

.citrus_meet_tab_item {
  text-transform: uppercase;
  padding: 12px 20px;
  margin: 0 10px;
  font-size: 14px;
  text-decoration: none;
  background-color: #fff;
  border: none;
  cursor: pointer;
  color: #6e6b6b;
  font-family: PetcoCircularTT-Regular, arial !important;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

button {
  font-family: PetcoCircularTT-Regular, arial !important;
}

.citrus_meet_tab_item.citrus_meet_tab_item_active {
  color: #001952;
  border-bottom: 8px solid #001952;
  margin-top: 12px;
}

.citrus-meet-orijen-main21 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #021b4e;
}

.cirtus_meet_tabs_22 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.citrus_item_section__tab_content_item {
  max-width: 195px;
  width: 100% !important;
  margin: 0 9px;
}

.citrus-inner-img22 {
  padding: 0 15px;
}

.citrus-inner-img22 > a img {
  width: 100%;
  height: auto;
}

.citrus_item_section__tab_content_item.citrus_row_opacity_0 {
  opacity: 0;
}

.citrus_product_info22 > p {
  font-size: 13px;
  color: #333;
  min-height: 82px;
  display: block;
  margin-top: 18px;
}

.citrus-meet-tab-product > a {
  color: #001952;
  font-size: 16px;
  display: block;
  font-family: PetcoCircularTT-Bold, arial !important;
  text-decoration: underline;
}

.citrus-bg-img {
  padding: 40px 0 0 20px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.citrus-wet-cat-container {
  max-width: 1245px;
  width: 100%;
  margin: 0 auto;
}

.citrus-wet-cat-main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.citrus-wet-cat-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  margin-left: 22px;
}

.citrus-wet-cat-right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58%;
  flex: 0 0 58%;
  padding-left: 20px;
}

.citrus-wet-cat-left > img {
  width: 100%;
  height: auto;
}

.citrus-wet-cat-carocel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.citrus-wet-single-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  margin: 0 10px;
}

.citrus-wet-single-item > a > img {
  width: 140px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.citrus-common-header2 {
  text-align: left;
  border-bottom: 1px solid #333;
  margin-bottom: 18px;
}

.citrus-wet-single-item > p {
  color: #333;
  font-size: 13px;
  padding-top: 64px;
  padding-bottom: 28px;
}

.citrus-wet-single-item > a {
  color: #001952;
  font-size: 16px;
  display: block;
  font-family: PetcoCircularTT-Bold, arial !important;
  text-decoration: underline;
}

.citrus-bottom-hero-area {
  overflow: hidden;
  padding-bottom: 10px;
}

.citrus-banner-slider-citrus-desktop-view {
  display: block;
}

/* Video Popup */
.citrus-yt-video {
  position: relative;
}

.citrus-yt-video button,
.citrus-yt-video button:focus-visible {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.show-video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 2px 2px 10px 0px rgb(166 161 161 / 85%);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.show-video span {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 99999;
  color: #333;
  background: #fff;
  width: 20px;
  border-radius: 50%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #efefef;
  font-size: 20px;
  padding: 1px 0 0;
  cursor: pointer;
}

.show-video span:hover {
  color: #fff;
  background: #e4425c;
  border: 1px solid #e4425c;
}

.show-video iframe {
  width: 100%;
  min-height: 180px;
}

@media all and (min-width: 1441px) and (max-width: 4800px) {
  .citrus-slider-banner-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media all and (min-width: 992px) and (max-width: 1280px) {
  .citrus-slider-banner-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .citrus-banner-inner-right.citrus-banner-inner-right2 {
    width: 52%;
    padding-left: 15px;
  }

  .citrus-banner-inner-right > h2 {
    font-size: 30px;
  }
}

@media all and (max-width: 1301px) {
  .citrus-slider-banner-content {
    width: 90%;
  }

  .citrus-meet-orijen-tab-container {
    width: 90%;
  }

  .citrus-wet-cat-container {
    width: 90%;
  }

  .citrus_item_section__tab_content_item {
    max-width: 210px;
  }

  .citrus-wet-single-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
  }

  .citrus-wet-single-item > a > img {
    width: 115px;
  }

  .citrus-wet-single-item > p {
    height: 170px;
  }
}

@media all and (max-width: 1280px) {
  .citrus_cta_btn {
    padding: 10px 30px;
    font-size: 12px;
    line-height: 12px;
  }

  .citrus-meet-orijen-wrapper {
    overflow-y: auto;
  }

  .citrus-meet-orijen-wrapper::-webkit-scrollbar {
    display: none;
  }

  .citrus-meet-orijen-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .citrus-meet-orijen-main21 {
    width: 280%;
  }

  .citrus_meet_tab_item {
    width: 72%;
  }

  .citrus-explore-food-single-item {
    padding: 15px !important;
  }

  .citrus-explore-food-single-item .show-video iframe {
    min-height: auto;
  }
}

@media all and (max-width: 991px) {
  .citrus_cta_btn {
    padding: 7px 25px;
    font-size: 12px;
    line-height: 12px;
    top: 55%;
  }

  .citrus_cta_btn2 {
    padding: 7px 10px;
    width: auto;
    top: 40%;
  }

  .citrus_cta_btn3 {
    left: unset;
    right: 10px;
    top: 80px;
    padding: 10px;
    width: 140px;
  }

  .citrus-wet-single-item > p {
    height: 75px;
    padding-top: 20px;
  }

  .citrus-slider-single-item > img {
    width: 100%;
    height: 300px;
  }

  .citrus-slider-banner-content {
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .citrus-banner-inner-right.citrus-banner-inner-right2 {
    width: 50%;
  }

  .citrus-banner-inner-right > h2 {
    font-size: 20px;
  }

  .citrus-banner-inner-right2 > img {
    width: 100px;
    height: 100px;
  }

  .citrus-bg-img {
    padding: 0 0 0 20px;
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
  }

  .citrus-wet-cat-main-flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .citrus-wet-cat-left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-left: 0;
    padding-bottom: 55px;
  }

  .citrus-wet-cat-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-left: 0;
  }

  .citrus-wet-cat-carocel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: auto;
  }

  .citrus-wet-cat-carocel::-webkit-scrollbar {
    display: none;
  }

  .citrus-wet-cat-carocel {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .citrus-wet-single-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
  }

  .citrus-wet-single-item > a > img {
    width: 100%;
  }
}

@media all and (max-width: 767px) {
  .citrus-banner-slider-citrus-desktop-view {
    display: none;
  }

  .citrus-slider-single-item > img {
    height: auto;
  }

  .citrus-slider-banner-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .citrus-banner-inner-right2 > img {
    width: 73px;
    height: auto;
    display: block;
    margin-bottom: 17px;
  }

  .citrus-banner-inner-right {
    padding-left: 0;
    margin-top: 0;
    text-align: center;
  }

  .citrus-banner-inner-right > p {
    width: 56%;
    margin: 0 auto;
  }

  .citrus-banner-inner-right > h2 {
    font-size: 20px;
    padding-bottom: 17px;
    line-height: 0.7;
  }

  .citrus-banner-btn > a {
    background: 0 0;
    color: #fff;
    padding: 0 4px;
    text-decoration: underline;
    text-transform: capitalize;
  }

  .citrus-banner-btn > a:hover {
    background: 0 0;
    color: #fff;
  }

  .citrus-common-header > h2 {
    font-size: 20px;
  }

  .citrus_meet_tab_item {
    width: 100%;
  }

  .citrus_item_section__tab_content_item {
    max-width: 235px;
  }

  .citrus-common-header > p {
    width: 55%;
    margin: 0 auto;
  }

  .citrus-common-header.citrus-common-header2 > h2 {
    width: 58%;
    margin: 0 auto;
    text-align: center;
  }

  .citrus-common-header > p {
    text-align: center;
  }

  .citrus-common-header2 {
    border-bottom: none;
  }

  .citrus-explore-food-single-item {
    padding: 15px !important;
  }

  .citrus-explore-food-single-item .show-video iframe {
    min-height: 180px;
  }
}

@media all and (max-width: 575px) {
  #citrus-image-carousel .citrus_weruva_carousel-item > img {
    width: auto;
    height: 385px;
  }

  .citrus-banner-advance-img {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  .citrus-banner-advance-img .citrus-img1 {
    width: 120px;
    position: absolute;
    left: 50% !important;
    transform: translate(20%, -5%);
    bottom: 0;
  }

  .citrus-banner-advance-img .citrus-img2 {
    width: 180px;
    bottom: 0;
    position: absolute;
    left: 50% !important;
    transform: translate(60%, 0);
  }

  .citrus-banner-advance-img .citrus-img3 {
    width: 180px;
    position: absolute;
    left: 50% !important;
    transform: translate(10%, 0);
    bottom: 0;
  }

  .citrus-banner-advance-img .citrus-img4 {
    width: 180px;
    bottom: 0;
    position: absolute;
    left: 50% !important;
    transform: translate(70%, 0);
  }
  .citrus_pov_content {
    top: 120px !important;
    left: 2% !important;
    transform: translate(0%, 0);
    width: 30% !important;
    text-align: center !important;
  }

  .citrus-wet-single-item > a > img {
    width: 100%;
  }

  .citrus-wet-single-item > p {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .citrus-wet-cat-left {
    padding-bottom: 30px;
  }

  .citrus-bg-img {
    top: 20%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
  }

  .citrus-meet-orijen-main21 {
    width: 500%;
  }

  .citrus_item_section__tab_content_item {
    max-width: 195px;
  }

  .citrus-banner-inner-right > h2 {
    width: 58%;
    margin: 0 auto;
    line-height: 1;
  }

  .citrus-banner-inner-right > p {
    width: 80%;
    margin: 0 auto;
  }
}

@media all and (max-width: 413px) {
  .citrus-common-header.citrus-common-header2 > h2 {
    width: 78%;
  }

  .citrus-common-header > p {
    width: 65%;
    margin: 0 auto;
  }

  .citrus-wet-single-item > p {
    height: 100px;
  }

  .citrus-banner-inner-right > h2 {
    width: 64%;
  }

  .citrus-banner-inner-right > p {
    width: 90%;
    margin: 0 auto;
  }
}

@media all and (max-width: 374px) {
  .citrus-banner-inner-right > h2 {
    width: 90%;
  }

  .citrus-banner-inner-right > p {
    font-size: 13px;
    padding-bottom: 10px;
  }

  .citrus-banner-inner-right2 > img {
    width: 60px;
    height: auto;
    display: block;
    margin-bottom: 6px;
  }
}
.citrus-modaloverlay {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  z-index: -1;
  display: none;
}

.citrus-modaloverlay.active {
  display: block;
  opacity: 1;
  pointer-events: auto;
  z-index: 99999;
}

.citrus-modaloverlay .citrus-modal {
  background-color: #fff;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 3em;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border-radius: 7px;
}

@media (min-width: 60em) {
  .citrus-modaloverlay .citrus-modal {
    height: 75%;
    margin: 5% auto;
    max-height: 57em;
    max-width: 66em;
    width: 85%;
  }
}

.citrus-modaloverlay .citrus-modal > div,
.citrus-modaloverlay .citrus-modal > iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.citrus-modaloverlay .citrus-close {
  background-color: #001952;
  color: #fff;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  z-index: 1;
  border: 0;
  cursor: pointer;
  border-radius: 0 7px 0 0;
}
