/* hide scroll bar */
.citrusStylesSE-container::-webkit-scrollbar {
  display: none;
}
/* hide scroll bar IE firefox */
.citrusStylesSE-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* comparison imran */
.citrusStylesSE-table--container {
  width: 1440px;
  max-width: 100%;
  margin: auto;
  overflow: auto;
}

.citrusStylesSE-table {
  width: 1440px;
}

.citrusStylesSE-table .citrusStylesSE-table--row {
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.citrusStylesSE-table .citrusStylesSE-table--row .citrusStylesSE-table--col-2 {
  width: 263px;
}

.citrusStylesSE-table
  .citrusStylesSE-table--row.thead
  .citrusStylesSE-table--col-2
  img {
  max-width: 210px;
}

.citrusStylesSE-table--row .citrusStylesSE-table--col-2 {
  border-right: 5px solid rgba(100, 201, 209, 0.3);
  border-left: 5px solid rgba(100, 201, 209, 0.3);
}

.citrusStylesSE-table--row.thead .citrusStylesSE-table--col-2 {
  border-top: 5px solid rgba(100, 201, 209, 0.3);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.citrusStylesSE-table--row .citrusStylesSE-table--col-2.bottom-radius-border {
  border-bottom: 5px solid rgba(100, 201, 209, 0.3);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.citrusStylesSE-table .thead img {
  padding: 3em 0;
  max-width: 133px;
  margin: 0 auto;
}

.citrusStylesSE-table--Cell-title h2 {
  font-size: 18px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73px;
  font-weight: 700;
}

.bottom-border {
  border-bottom: 1px solid #aeaeae;
}

.citrusStylesSE-check-mark,
.citrusTrio__radio {
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.citrusStylesSE-check-mark img {
  width: 17.17px;
  height: 20px;
  object-fit: contain;
  margin: auto;
}

.citrusTrio__radio img {
  width: 14.31px;
  height: 15px;
  object-fit: contain;
  margin: auto;
}

.bg-gray-100 {
  background: #d9d9d9;
}

.bg-gray {
  background: rgba(217, 217, 217, 0.3);
}

.chart-cta {
  margin: auto;
  margin-top: 11px;
  margin-bottom: 20px;
  width: 203px;
  height: 63px;
  padding: 0;
  line-height: 63px;
  border-radius: 5px;
  background: #001952;
}

.chart-disclaimer {
  width: 400px;
  position: absolute;
  left: 33%;
  top: 27px;
}

.chart-disclaimer .citrusStylesSE-disclaimer {
  margin: 0 0 0 10px;
  text-align: left;
  font-size: 12px !important;
}
.citrusStylesSE-url {
  color: var(--citrusStylesSE-white);
}
/* imran */
@media screen and (max-width: 767px) {
  /* comparison */
  .citrusStylesSE-table {
    width: 1000px;
  }

  .citrusStylesSE-table
    .citrusStylesSE-table--row
    .citrusStylesSE-table--col-2 {
    width: 182px;
  }

  .citrusStylesSE-table
    .citrusStylesSE-table--row.thead
    .citrusStylesSE-table--col-2
    img {
    max-width: 140px;
  }

  .citrusStylesSE-table .thead img {
    padding: 1em 0;
    max-width: 98px;
    text-align: center;
  }

  .citrusStylesSE-table--row.citrusStylesSE-table--Cell-title h2 {
    font-size: 16px;
  }

  .citrusStylesSE-table--Cell-title h2 {
    font-size: 12px;
    height: 49px;
  }

  .citrusStylesSE-check-mark,
  .citrusTrio__radio {
    height: 49px;
  }

  .chart-cta {
    width: max-content;
    background: unset;
  }
  .citrusStylesSE-url {
    color: var(--citrusStylesSE-primary-navy);
  }
}
