/* container style use for center main box */
@media screen and (min-width: 768px) {
  .citrusStylesSE__container {
    width: 80%;
    margin: auto;
  }
}

.output {
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 5px;
  margin: 2rem 0;
}
